<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Employee Management<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/add_emp/">Add Employee</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">View Employee</a>
          <a class="dropdown-item" href="#">About</a>
          <a class="dropdown-item" href="#">Follow</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/testimonials/">Testimonials</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/feedback/">feedback</a>
      </li>
    </ul>
  </div>
</nav>